@{
    ViewBag.Title = "BranchDashboard";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@{
    var random = new Random();
    var list = new List<string> { "success", "danger", "warning", "info", "primary", "secondary" };
    var x = random.Next(list.Count);

}

<link rel="stylesheet" href="~/Content/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
<link rel="stylesheet" href="~/Content/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
<link rel="stylesheet" href="~/Content/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css">
<link rel="stylesheet" href="~/Content/assets/vendor/css/pages/page-profile.css" />

 
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
                   
    <h4 class="mb-4 ">
        <span class="text-muted fw-light">Enterprise /</span> Branch Details
    </h4>

    <input type="hidden" id="EnterpriseId" name="EnterpriseId" value="@ViewBag.EntrId" />
    <!-- Header -->
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="user-profile-header-banner">
                    <img id="picture" alt="Banner image" class="rounded-top">
                    @*<img src="~/Content/assets/img/pages/profile-banner.png" alt="Banner image" class="rounded-top">*@
                </div>
                <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
                    @*@if (Model.ENR_Logo == "NO")
    {*@
                    <div class="avatar avatar-xl d-block h-auto ms-0 ms-sm-4 rounded user-profile-img">
                        <span class="avatar-initial  bg-@list[x]" id="spnanAvtar"></span>
                    </div>
                    @*<br />
        }
        else
        {
    <img class="d-block h-auto img-fluid ms-0 ms-sm-4 rounded user-profile-img object-fit-cover" style="max-height:120px" src="@Model.ENR_Logo" height="100" width="100" alt="User avatar">
    }*@
                    <div class="flex-grow-1 mt-3 mt-sm-5">
                        <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
                            <div class="user-profile-info">
                                <h4><span id="spnHeadName"></span></h4>
                                <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">
                                    <li class="list-inline-item d-flex gap-1">
                                        <i class='ti ti-map-pin'></i> <span id="spnCity"></span>
                                    </li>
                                    <li class="list-inline-item d-flex gap-1">
                                        <i class='ti ti-mail'></i> <span id="spnHeadEmail"></span>
                                    </li>
                                    <li class="list-inline-item d-flex gap-1">
                                        <i class='ti ti-phone'></i><span id="spnHeadPhone"></span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Header -->
    <!-- Navbar pills -->
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-sm-row mb-4">
                <li class="nav-item"><a class="nav-link curser-point" href="javascript:void(0);"><i class='ti-xs ti ti-map-pin me-1'></i> Areas</a></li>
                <li class="nav-item"><a class="nav-link curser-point" href="javascript:void(0);" onclick="getValue(63)"><i class="ti-xs ti ti-mist me-1"></i> Projects</a></li>
                <li class="nav-item"><a class="nav-link curser-point" href="javascript:void(0);" onclick="getValue(63)"><i class='ti-xs ti ti-user-cog me-1'></i> User Lists</a></li>
                <li class="nav-item"><a class="nav-link curser-point active" href="javascript:void(0);" onclick="getValue(63)"><i class='ti-xs ti ti-layout-dashboard me-1'></i> Dashboard</a></li>

            </ul>
        </div>
    </div>
    <!--/ Navbar pills -->


    <div class="row g-4 mb-4 mt-0">
        <!-- On route vehicles -->
        <!-- On route vehicles -->
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-1">
                        <div class="avatar me-2">
                            <span class="avatar-initial rounded bg-label-danger">
                                <i class="ti ti-map-pin ti-sm"></i>
                            </span>
                        </div>
                        <h3 class="mb-0" id="totalArea"></h3>
                    </div>
                    <p class="mb-0">Total Areas/City</p>
                </div>
            </div>
        </div>

        <!-- Vehicles with errors -->
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-1">
                        <div class="avatar me-2">
                            <span class="avatar-initial rounded bg-label-warning">
                                <i class="ti ti-users ti-sm"></i>
                            </span>
                        </div>
                        <h3 class="mb-0" id="totalSMME"></h3>
                    </div>
                    <p class="mb-0">Total MSMEs</p>
                </div>
            </div>
        </div>

        <!-- Deviated from route -->
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-1">
                        <div class="avatar me-2">
                            <span class="avatar-initial rounded bg-label-danger">
                                <i class="ti ti-user-cog ti-sm"></i>
                            </span>
                        </div>
                        <h3 class="mb-0" id="totalUser"></h3>
                    </div>
                    <p class="mb-0">Total Users</p>
                </div>
            </div>
        </div>

        <!-- Late vehicles -->
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-1">
                        <div class="avatar me-2">
                            <span class="avatar-initial rounded bg-label-info">
                                <i class="ti ti-mist ti-sm"></i>
                            </span>
                        </div>
                        <h3 class="mb-0" id="totalProject"></h3>
                    </div>
                    <p class="mb-0">Total Projects</p>
                </div>
            </div>
        </div>


    <!-- SMME Status End -->
    @*<div class="row g-6">*@
        <!-- Sales last year -->
        @*<div class="col-xxl-3 col-md-3 col-6">
            <div class="card h-100">
                <div class="card-header pb-3">
                    <h5 class="card-title mb-1">Total Areas/City</h5>
                    <p class="card-subtitle">Last week</p>
                </div>
                <div class="card-body">
                    <div id="ordersLastWeek"></div>
                    <div class="d-flex justify-content-between align-items-center gap-3">
                        <h4 class="mb-0" id="totalArea"></h4>
                                          
                    </div>
                </div>
            </div>
        </div>*@

        <!-- Sessions Last month -->
        @*<div class="col-xxl-3 col-md-3 col-6">
            <div class="card h-100">
                <div class="card-header pb-0">
                    <h5 class="card-title mb-1">Total MSMEs</h5>
                    <p class="card-subtitle">Last Year</p>
                </div>
                <div id="smmeLastYear"></div>
                <div class="card-body pt-0">
                    <div class="d-flex justify-content-between align-items-center mt-3 gap-3">
                        <h4 class="mb-0"><span id="totalSMME"></span></h4>
                                  
                    </div>
                </div>
            </div>
        </div>*@

        <!-- Total Profit -->
        @*<div class="col-xxl-3 col-md-3 col-6">
            <div class="card h-100">
                <div class="card-body">
                    <div class="badge p-2 bg-label-danger mb-3 rounded"><i class="icon-base ti tabler-credit-card icon-28px"></i></div>
                    <h5 class="card-title mb-1">Total Users</h5>
                    <p class="card-subtitle ">Last week</p>
                    <h4 class="mb-0"><span id="totalUser"></span></h4>
                                       
                </div>
            </div>
        </div>*@

        <!-- Total Sales -->
        @*<div class="col-xxl-3 col-md-3 col-6">
            <div class="card h-100">
                <div class="card-body">
                    <div class="badge p-2 bg-label-success mb-3 rounded"><i class="icon-base ti tabler-credit-card icon-28px"></i></div>
                    <h5 class="card-title mb-1">Total Projects</h5>
                    <p class="card-subtitle ">Last week</p>
                    <h4 class="mb-0"><span id="totalProject"></span></h4>
                                        
                </div>
            </div>
        </div>*@

                            

        <!-- Earning Reports Tabs-->
        <!-- Revenue Growth -->
        <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 col-12 order-xxl-0 order-1 mt-4">
            <div class="card h-100">
                <div class="card-header pb-0 d-flex justify-content-between">
                    <div class="card-title mb-0">
                        <h5 class="mb-1">MSME Count By Month</h5>
                        <p class="card-subtitle">Year 2025</p>
                    </div>
                    <div class="dropdown">
                        @*<button class="btn btn-text-secondary rounded-pill text-body-secondary border-0 p-2 me-n1" type="button" id="earningReportsId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-base ti tabler-dots-vertical icon-md text-body-secondary"></i>
                        </button>*@
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="earningReportsId">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row align-items-center g-md-8">
                        <div class="col-12 col-md-5 d-flex flex-column">
                            <div class="d-flex gap-2 align-items-center mb-3 flex-wrap">
                                <h2 class="mb-0" id="thisMonthAddedSMME">$468</h2>
                                @*<div class="badge rounded bg-label-success">+4.2%</div>*@
                            </div>
                            <p>MSME Added this month</p>
                            @*<small class="text-body">You informed of this week compared to last week</small>*@
                        </div>
                        <div class="col-12 col-md-7 ps-xl-8">
                            <div id="weeklyEarningReports"></div>
                        </div>
                    </div>
                                        
                </div>
            </div>
        </div>

                        

        <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12 col-12 order-xxl-0 order-1 mt-4">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <div>
                        <h5 class="card-title mb-0">Product Distribution</h5>
                        <p class="card-subtitle my-0">Number of stores that stock each product.</p>
                    </div>
                    @*<div class="dropdown">
                        <button type="button" class="btn dropdown-toggle px-0" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="icon-base ti tabler-calendar"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Today</a></li>
                            <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Yesterday</a></li>
                            <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last 7 Days</a></li>
                            <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last 30 Days</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Current Month</a></li>
                            <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last Month</a></li>
                        </ul>
                    </div>*@
                </div>
                <div class="card-body">
                    <div id="donutChartNew"></div>
                </div>
            </div>
        </div>

        <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12 col-12 order-xxl-0 order-1 mt-4">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <div>
                        <h5 class="card-title mb-0">Area Wise MSME Distribution</h5>
                        <p class="card-subtitle my-0">Number of msmes in an area.</p>
                    </div>
                    @*<div class="dropdown">
                        <button type="button" class="btn dropdown-toggle px-0" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="icon-base ti tabler-calendar"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Today</a></li>
                            <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Yesterday</a></li>
                            <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last 7 Days</a></li>
                            <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last 30 Days</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Current Month</a></li>
                            <li><a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last Month</a></li>
                        </ul>
                    </div>*@
                </div>
                <div class="card-body">
                    <div id="piChartNew"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- / Content -->
 
<!-- Page JS -->
<script src="~/Content/assets/vendor/libs/moment/moment.js"></script>
<script src="~/Content/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>

<script src="~/Content/assets/vendor/libs/cleavejs/cleave.js"></script>
<script src="~/Content/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
<script src="~/Scripts/utility/ChildPageMenuForEnterprise.js"></script>
<script src="~/Scripts/custom/DynamicBanner.js"></script>
@*<script src="~/Content/assets/js/dashboards-crm.js"></script>*@
<script src="~/Scripts/custom/BranchDashboard.js"></script>

