
@{
    ViewBag.Title = "AssignSMMEAssessmentForEnterprise";
    Layout = "~/Views/Shared/_MainLayoutST.cshtml";
}

<link rel="stylesheet" href="~/Content/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
<link rel="stylesheet" href="~/Content/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
<link rel="stylesheet" href="~/Content/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css">
<link href="~/Content/assets/vendor/libs/sweetalert2/sweetalert2.css" rel="stylesheet" />
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">Assign MSME Assessment </span>
    </h4>
    <div class="card">
        <div class="card-header border-bottom d-none">
            <h5 class="card-title mb-3">Search Filter</h5>
            <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
                <div class="col-md-4 user_role"></div>
                <div class="col-md-4 user_plan"></div>
                <div class="col-md-4 user_status"></div>
            </div>
        </div>
        <div class="card-datatable table-responsive">
            <table class="datatables-category-list table border-top" id="datatable-example">
                <thead class="border-top">
                    <tr>
                        <th></th>
                        <th>MSME </th>
                        <th>ContactNo</th>
                        @*<th>Enterprise Name</th>
                        <th>Enterprise Email</th>*@
                        <th>Assign</th>
                    </tr>
                </thead>


            </table>
        </div>
        <!-- Offcanvas to add new user -->

    </div>
    <!-- Share Project Modal -->

        <div class="modal fade" id="shareProject" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-simple modal-edit-user" role="document">
                <div class="modal-content p-3 p-md-5">

                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="text-center mb-4">
                            <h3 class="mb-2">Assign Assessment</h3>
                           <hr />
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12 mb-md-0 mb-4">
                                <p>Assessment list</p>
                                <ul class="list-group list-group-flush" id="ulAssessmentList"></ul>
                            </div>
                        </div>
                    </div>

                    <!-- Multiple Lists Draggable -->
                    <!-- /Multiple Lists Draggable ends -->
                </div>
            </div>
        </div>
    <!--/ Share Project Modal -->

</div>
<script type="text/javascript">
    var URLList = {

        GetList: '@Url.Action("GetGlobalMasterTransaction", "ScriptJson")',
        GetEntityMasterById: '@Url.Action("GetGlobalMasterTransaction", "ScriptJson")'

    };
    var globalData = {
        TransactionType: 'SelectAllBuildQuestionForStakeholder',
       
        //paramValue: parseInt(id),
        StoreProcedure: 'AssignAssessmentToSMME_USP'
    };
</script>
<script src="~/Content/assets/vendor/libs/moment/moment.js"></script>
<script src="~/Content/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
<script src="~/Content/assets/vendor/libs/select2/select2.js"></script>

<script src="~/Content/assets/vendor/libs/cleavejs/cleave.js"></script>
<script src="~/Content/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
<script src="~/Content/assets/vendor/libs/sortablejs/sortable.js"></script>
<script src="~/Content/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
<script src="~/Scripts/custom/AssignSMMEAssessmentForStakeholder.js"></script>

