
@{
    ViewBag.Title = "ShowAssessment";
    Layout = "~/Views/Shared/_NullLayoutAssessment.cshtml";
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    .form-control[type="file"]{
        margin-top:10px
    }
</style>
<link href="~/Content/assets/vendor/libs/sweetalert2/sweetalert2.css" rel="stylesheet" />
<input type="hidden" id="themeColor" value="@ViewBag.ThemeColor"/>
<input type="hidden" id="custCsslink" value="@ViewBag.CustomCSSLink" />

@*<div class="modal fade" id="setUPFormSMMEUserModal" tabindex="-1" aria-labelledby="setUPFormSMMEUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-end">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="setUPFormSMMEUserModalLabel">View</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body border-top">
                <div class="card-body">
                    <div id="dvSumm"></div>
                </div>
               
                
            </div>
        </div>
    </div>
</div>*@

<div class="container-fluid" >
    <div class="" style="border-radius:6px;">
        <!-- Menu logo wrapper: Start -->
        <div class="bg-white">
            
            <!-- Mobile menu toggle: End-->
            <div class="d-flex justify-content-between align-items-center p-2">
                <a href="#" class="app-brand-link">
                    <img style="width:100px;margin:auto;display:block;" src="/Content/assets/img/ESD_LOGO_DARK.png" />
                </a>

                @*<div>
                    <button type="button" class="btn rounded-pill btn-icon btn-primary waves-effect waves-light" onclick="retriveSummery()" id="btnSummary">
                        <span class="fa fa-warning"></span>
                    </button>
                </div>*@
            </div>
            
        </div>
        <!-- Menu logo wrapper: End -->

        <div class="landing-menu-overlay d-lg-none"></div>
        <!-- Menu wrapper: End -->
        <!-- Toolbar: Start -->
        <ul class="navbar-nav flex-row align-items-center ms-auto">

            @*<li>
                <a href="/Account/SMMELogin" class="btn btn-primary waves-effect waves-light"><span class="tf-icons ti ti-login scaleX-n1-rtl me-md-1"></span><span class="d-none d-md-block">Login</span></a>
            </li>*@
            <!-- navbar button: End -->
        </ul>
        <!-- Toolbar: End -->
    </div>
</div>

<div class="container-xxl flex-grow-1 container-p-y" >
    @*<h4 class="py-3 mb-2">
        <span id="spnWizrd"></span> 
    </h4>*@
   <div class="container">
       <div class="row">
           <input type="hidden" id="hdnSmmeId" value="@ViewBag.SmmeId" />
           <input type="hidden" id="hdnBaId" />
           <input type="hidden" id="hdnAssessId" />
           <div class="card p-3 col-12 mt-3 mx-auto w-50">
               <h4 class="mb-0">
                   <span id="spnWizrd"></span>
               </h4>
           </div>
           <div class="row ms-0 p-0" id="summHide">
               <div class="card col-12 mt-3 mx-auto w-50">
                   <div class="card-body">
                       <div><b>Summery: </b> <span id="dvSumm"></span>
                       </div>
                   </div>
               </div>
           </div>
           

           @*<div class="card p-3 col-12">
        <div class="card-header bg-primary">
            <p class="card-title text-white mb-0">Segment 1</p>
        </div>
        <div class="card-body">
            <div class="mt-3">
                <label for="" class="form-label">Asseaed</label>
                <input class="form-control" placeholder="Type Your AAAAA"/>
            </div>
            <div class="mt-3">
                <label for="" class="form-label">Asseaed</label>
                <input class="form-control" placeholder="Type Your AAAAA" />
            </div>
            <div class="mt-3">
                <label for="" class="form-label">Asseaed</label>
                <input class="form-control" placeholder="Type Your AAAAA" />
            </div>
        </div>
    </div>
    <div class="card p-3 mt-3  col-12">
        <div class="card-header bg-primary">
            <p class="card-title text-white mb-0">Segment 2</p>
        </div>
        <div class="card-body">
            <div class="mt-3">
                <label for="" class="form-label">Asseaed</label>
                <input class="form-control" placeholder="Type Your AAAAA" />
            </div>
            <div class="mt-3">
                <label for="" class="form-label">Asseaed</label>
                <input class="form-control" placeholder="Type Your AAAAA" />
            </div>
            <div class="mt-3">
                <label for="" class="form-label">Asseaed</label>
                <input class="form-control" placeholder="Type Your AAAAA" />
            </div>
        </div>
    </div>
    <div class="mt-3 col-12">
        <button class="btn btn-success">Submit</button>
    </div>*@
         

          <div id="segmentHeader">
          </div>
           @*<div class="mt-3 col-12">
               <button class="btn btn-success">Submit</button>
           </div>*@
           @*<form onSubmit="return false" id="segmentContentForm"></form>*@
       </div>
   </div>
    @*<div class="row">
        <div class="col-12 mb-4">
            <div class="bs-stepper wizard-vertical vertical mt-2" id="segmentWizrd">
                <input type="hidden" id="hdnSmmeId" value="@ViewBag.SmmeId" />
                <input type="hidden" id="hdnBaId" />
                <input type="hidden" id="hdnAssessId" />
                <div class="bs-stepper-header" id="segmentHeader">

                </div>
                <div class="bs-stepper-content" id="dvStep" style="min-height:445px;height:100%;position:relative;">
                    <form onSubmit="return false" id="segmentContentForm"></form>
                </div>
            </div>
        </div>
    </div>*@




</div>
<!-- / Content -->


<div class="content-backdrop fade"></div>


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->

<script src="~/Content/assets/vendor/libs/jquery/jquery.js"></script>
<script src="~/Content/assets/vendor/libs/popper/popper.js"></script>
<script src="~/Content/assets/vendor/js/bootstrap.js"></script>
<script src="~/Content/assets/vendor/libs/node-waves/node-waves.js"></script>
<script src="~/Content/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="~/Content/assets/vendor/libs/hammer/hammer.js"></script>
@*<script src="~/Content/assets/vendor/libs/i18n/i18n.js"></script>*@
<script src="~/Content/assets/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="~/Content/assets/vendor/js/menu.js"></script>

<!-- endbuild -->
<!-- Vendors JS -->
<script src="~/Content/assets/vendor/libs/moment/moment.js"></script>
<script src="~/Content/assets/vendor/libs/flatpickr/flatpickr.js"></script>
<script src="~/Content/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
<script src="~/Content/assets/vendor/libs/jquery-timepicker/jquery-timepicker.js"></script>
<script src="~/Content/assets/vendor/libs/pickr/pickr.js"></script>
<!-- Vendors JS -->
<script src="~/Content/assets/vendor/libs/select2/select2.js"></script>
<script src="~/Content/assets/vendor/libs/tagify/tagify.js"></script>
<script src="~/Content/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
<script src="~/Content/assets/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="~/Content/assets/vendor/libs/bloodhound/bloodhound.js"></script>


<!-- Vendors JS -->
<script src="~/Content/assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
<script src="~/Content/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
<script src="~/Content/assets/vendor/libs/select2/select2.js"></script>
<script src="~/Content/assets/vendor/libs/%40form-validation/umd/bundle/popular.min.js"></script>
<script src="~/Content/assets/vendor/libs/%40form-validation/umd/plugin-bootstrap5/index.min.js"></script>
<script src="~/Content/assets/vendor/libs/%40form-validation/umd/plugin-auto-focus/index.min.js"></script>
<script src="~/Content/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>

<!-- Main JS -->
@*<script src="~/Content/assets/js/main.js"></script>*@


<!-- Page JS -->
<script src="~/Scripts/utility/Loading.js"></script>
<script src="~/Scripts/custom/ShowAssessment.js"></script>
@*<script src="~/Content/assets/js/form-wizard-numbered.js"></script>*@
@*<script src="~/Content/assets/js/form-wizard-validation.js"></script>*@


