
@{
    ViewBag.Title = "UserWiseProject";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@{
    var Enterpriseuser = Session["EnterpriseUserDataModel"] as BODDal.Models.UserModel;
    var user = Session["UserDataModel"] as BODDal.Models.UserModel;
    var SmmeUser = Session["SMMEUserDataModel"] as BODDal.Models.UserModel;
    var EnterpriseEmpuser = Session["EnterpriseEMPUserDataModel"] as BODDal.Models.UserModel;
    var AdminUser = Session["AdminUserDataModel"] as BODDal.Models.UserModel;

    var LinkJs = "";
    if (Enterpriseuser != null)
    {
        LinkJs = Enterpriseuser.ChildMenuJsLink;
    }
    else if (SmmeUser != null)
    {
        LinkJs = SmmeUser.ChildMenuJsLink;
    }
    else if (EnterpriseEmpuser != null)
    {
        LinkJs = EnterpriseEmpuser.ChildMenuJsLink;
    }
    else if (AdminUser != null)
    {
        LinkJs = AdminUser.ChildMenuJsLink;
    }
    else
    {
        LinkJs = user.ChildMenuJsLink;
    }
}



@{
    var random = new Random();
    var list = new List<string> { "success", "danger", "warning", "info", "primary", "secondary" };
    var x = random.Next(list.Count);
}
<style>
    .ellipsisWrap-new-ln {
        display: -webkit-box;
        max-width: 400px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 46px;
    }
</style>
<link rel="stylesheet" href="~/Content/assets/vendor/css/pages/page-profile.css" />
<div class="container-xxl flex-grow-1 container-p-y">


    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">Home /</span> User Profile Details
    </h4>
    <input type="hidden" value="" id="hdnEntrId" />
    <!-- Header -->
    <div class="row">
        <input type="hidden" value="" id="hdnId" />
        <div class="col-12">
            <div class="card mb-4">
                <!-- Banner -->
                <div class="user-profile-header-banner">
                    <img id="picture" alt="Banner image" class="rounded-top img-fluid w-100" />
                </div>

                <!-- Profile Section -->
                <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">

                    <!-- Avatar: Image or Initials -->
                    <div class="avatar avatar-xl d-block h-auto ms-0 ms-sm-4 rounded user-profile-img">
                        <div class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-white fw-bold"
                             id="avatarContainer"
                             style="width: 100%; height: 100px; font-size: 33px;">
                            <img id="spnanAvtar"
                                 src=""
                                 alt="Avatar"
                                 class="rounded-circle img-fluid"
                                 style="width: 100%; height: 100px; font-size: 33px;" />

                            <span id="spnanInitials" style="display: none;"></span>
                        </div>
                    </div>

                    <!-- User Info -->
                    <div class="flex-grow-1 text-center text-sm-start mt-5 ms-4">
                        <h4 class="mb-2" id="spnHeadName"></h4>
                        <ul class="list-inline mb-0 d-flex flex-wrap justify-content-center justify-content-sm-start gap-3">
                            <li class="list-inline-item d-flex align-items-center gap-1">
                                <i class="ti ti-color-swatch"></i> <span id="spnHeadRole"></span>
                            </li>
                            <li class="list-inline-item d-flex align-items-center gap-1">
                                <i class="ti ti-map-pin"></i> <span id="spnHeadBranch"></span>
                            </li>
                            <li class="list-inline-item d-flex align-items-center gap-1">
                                <i class="ti ti-calendar"></i> Joined <span id="spnDate"></span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!--/ Header -->
    <!-- Navbar pills -->
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-sm-row mb-4">
                <li class="nav-item"><a class="nav-link" href="javascript:void(0);" data-target="Profile"><i class='ti-xs ti ti-user-check me-1'></i>Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:void(0);" data-target="MSMEs"><i class='ti-xs ti ti-link me-1'></i>MSMEs</a></li>
                <li class="nav-item"><a class="nav-link active" href="javascript:void(0);" data-target="Projects"><i class='ti-xs ti ti-layout-grid me-1'></i>Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:void(0);" data-target="Areas"><i class='ti-xs ti ti-building me-1'></i>Areas</a></li>
            </ul>

        </div>
    </div>
    <!--/ Navbar pills -->
    <!-- Project Cards -->
    <div class="row g-4" id="dvproject">

    </div>
    <!--/ Project Cards -->

</div>
<script>

    var URLList = {
    GetList: '@Url.Action("GetGlobalMasterTransaction", "ScriptJson")',

};
</script>
<script src="~/Scripts/custom/DynamicBanner.js"></script>
<script src="~/Content/assets/js/pages-profile.js"></script>
<script src="@LinkJs"></script>
<script src="~/Scripts/custom/UserWiseProject.js"></script>
