
@{
    ViewBag.Title = "EnterpriseSettings_company";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    var Enterpriseuser = Session["EnterpriseUserDataModel"] as BODDal.Models.UserModel;
    var user = Session["UserDataModel"] as BODDal.Models.UserModel;
    var SmmeUser = Session["SMMEUserDataModel"] as BODDal.Models.UserModel;
    var EnterpriseEmpuser = Session["EnterpriseEMPUserDataModel"] as BODDal.Models.UserModel;
    var AdminUser = Session["AdminUserDataModel"] as BODDal.Models.UserModel;

    var role = "";

    if (Enterpriseuser != null)
    {
        role = Enterpriseuser.UM_Role;
    }
    else if (EnterpriseEmpuser != null)
    {
        role = EnterpriseEmpuser.UM_Role;
    }
    else if (SmmeUser != null)
    {
        role = SmmeUser.UM_Role;
    }
    else if(AdminUser != null)
    {
        role = AdminUser.UM_Role;
    }
    else
    {
        role = user.UM_Role;
    }
}

<link href="~/Content/assets/vendor/libs/sweetalert2/sweetalert2.css" rel="stylesheet" />
<div class="container-xxl flex-grow-1 container-p-y">
    <input type="hidden" id="hdnEnterId" value="@role" />

    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">Enterprise Management /</span> Add Enterprise
    </h4>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-4">
                
                <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="ti-xs ti ti-building"></i> Enterprise Details</a></li>
               @if (ViewBag.Id <= 0 && ViewBag.M == "A")
               {
                <li class="nav-item"><a class="nav-link" href="javascript:void(0)" style="cursor: default;"><i class="ti-xs ti ti-users me-1"></i> Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)" style="cursor: default;"><i class="ti-xs ti ti-file-description me-1"></i> Legal Entity</a></li>
                    @*<li class="nav-item"><a class="nav-link" href="javascript:void(0)" style="cursor: default;"><i class="ti-xs ti ti-file-dollar"></i> Financial</a></li>*@
               }
               else
               {
                <li class="nav-item"><a class="nav-link" href="EnterpriseSettings_contact?Id=@ViewBag.Id&M=@ViewBag.M"><i class="ti-xs ti ti-users me-1"></i> Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="EnterpriseSettings_legalentity?Id=@ViewBag.Id&M=@ViewBag.M"><i class="ti-xs ti ti-file-description me-1"></i> Legal Entity</a></li>
                    @*<li class="nav-item"><a class="nav-link" href="EnterpriseSettings_financial?Id=@ViewBag.Id&M=@ViewBag.M"><i class="ti-xs ti ti-file-dollar"></i> Financial</a></li>*@
               }
            </ul>
            <div class="card mb-4">
                <h5 class="card-header">Enterprise Details</h5>
        
                <input type="hidden" name="" id="hdnuploadComLogo">

                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <div id="dvImageWorkSpaceComLogo" class="mb-4">
                            <img alt="user-avatar" class="d-block w-px-150 h-px-50 rounded" id="prfpicIMGWorkSpaceComLogo" />
                        </div>
                        <div id="dvAvatarComLogo" class="mb-4"></div>
                        <input type="hidden" name="..." id="hdnWorkSpceUploadComLogo">
                        <div class="button-wrapper">
                            <label for="uploadWorkSpceComLogo" class="btn btn-primary me-2 mb-3" tabindex="0">
                                <span class="d-none d-sm-block">Upload Company Logo</span>
                                <i class="ti ti-upload d-block d-sm-none"></i>
                                <input type="file" id="uploadWorkSpceComLogo" class="account-file-input" data-max-size="1048576" hidden accept="image/png, image/jpeg, image/jpg" onchange="ShowPreviewWorkSpaceComLogo(this)" />
                            </label>
                            <button id="btnResetWorkSpceUploadComLogo" type="reset" class="btn btn-label-secondary account-image-reset mb-3">
                                <i class="ti ti-refresh-dot d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Reset</span>
                            </button>

                            <div class="text-muted">Allowed JPG, JPEG or PNG. Max size of 1 MB</div>
                        </div>
                    </div>
                </div>

                <hr class="my-0">
                <div class="card-body">
                    <form id="formAccountSettings" method="GET" onsubmit="return false">
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <input type="hidden" id="hdnModeForm" value="company" />
                                <label class="form-label" for="multiStepsFirstName">Enterprise Name<span class="text-danger">*</span></label>
                                <input type="text" id="txtCompanyName" name="txtCompanyName" class="form-control alphabets" placeholder="Enterprise Name"/>
                                <input type="hidden" id="hdnId" name="hdnId" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsLastName">Registration Number(CIPC)<span class="text-danger">*</span></label>
                                @*<input type="text" id="txtRegNum" name="txtRegNum" class="form-control" placeholder="Enter Registration Number" />*@
                                <input type="text" id="txtRegNum" name="txtRegNum" class="form-control"
                                       placeholder="Registration Number" maxlength="14" required />
                                <div id="error" class="text-danger mt-2" style="display:none;"></div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="ddlSector">Industry Sector<span class="text-danger">*</span></label>
                                <select class="select2 form-select ddlSector" data-allow-clear="true" id="ddlSector" name="ddlSector"></select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsMobile">Business Type<span class="text-danger">*</span></label>
                                <select class="select2 form-select ddlBusinessType" data-allow-clear="true" id="ddlBusinessType" name="ddlBusinessType"></select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsMobile">Address<span class="text-danger">*</span></label>
                                <textarea id="txtBusinessAddress" name="txtBusinessAddress" class="form-control" placeholder="Address"></textarea>
                            </div>
                            <input type="hidden" id="txtAddress2"/>
                            @*<div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsMobile">Address 2</label>
                                <textarea id="txtAddress2" name="txtAddress2" class="form-control" placeholder="Enter Business Address2"></textarea>
                            </div>*@
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsLastName">Suburb<span class="text-danger">*</span></label>
                                <input type="text" id="txtSuburb" name="txtSuburb" class="form-control" placeholder="Enter Suburb" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsLastName">City/Town<span class="text-danger">*</span></label>
                                <input type="text" id="txtCity" name="txtCity" class="form-control" placeholder="City/Town" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="ddlProvince">Province/State<span class="text-danger">*</span></label>
                                <select class="select2 form-select ddlProvince" data-allow-clear="true" id="ddlProvince" name="ddlProvince"></select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="ddlCountry">Country<span class="text-danger">*</span></label>
                                <select class="select2 form-select ddlCountry" data-allow-clear="true" id="ddlCountry" name="ddlCountry"></select>
                            </div>
                            
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsLastName">Postal Code<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="txtPostalCode" name="txtPostalCode" placeholder="Postal Code" maxlength="4" oninput="formatPostalCode(this)" />
                                @*<input type="text" id="txtPostalCode" name="txtPostalCode" class="form-control" placeholder="Enter Postal Code" />*@
                            </div>
                            <div class="mb-3 col-sm-12">
                                <label class="form-label" for="multiStepsMobile">Business Description</label>
                                <textarea id="txtBusinessDesc" name="txtBusinessDesc" class="form-control" placeholder="Type Business Decription"></textarea>
                            </div>
                        </div>
                        <div class="mt-2">
                            @*<button type="submit" class="btn btn-primary me-2" id="btnUpdate">Save changes</button>*@
                            <button type="submit" class="btn btn-info me-2" id="btnUpdateNext">Save & Next</button>
                            <a id="btnCancelRedirect" class="btn btn-label-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/assets/vendor/libs/%40form-validation/umd/bundle/popular.min.js"></script>
<script src="~/Content/assets/vendor/libs/%40form-validation/umd/plugin-bootstrap5/index.min.js"></script>
<script src="~/Content/assets/vendor/libs/%40form-validation/umd/plugin-auto-focus/index.min.js"></script>
<script src="~/Content/assets/vendor/libs/select2/select2.js"></script>
<script src="~/Content/assets/vendor/libs/quill/katex.js"></script>
<script src="~/Content/assets/vendor/libs/quill/quill.js"></script>
<script src="~/Content/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>


<script src="~/Scripts/utility/PhoneNumberFormet.js"></script>
@*<script src="~/Content/assets/js/pages-account-settings-account.js"></script>*@
<script src="~/Content/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
<script src="~/Scripts/utility/dropdown.js"></script>
<script src="~/Scripts/custom/EnterpriseSettings.js"></script>


