
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<link href="~/Content/assets/vendor/libs/sweetalert2/sweetalert2.css" rel="stylesheet" />




<div class="container-xxl flex-grow-1 container-p-y" id="section-block">
    <div class="row">
        <div class="col-md-12">
        
            <div class="card mb-6">
                <h5 class="card-header">Change Password</h5>
                <div class="card-body pt-1">
                    <form id="formAccountSettings"  onsubmit="return false">
                        <div class="row mb-sm-6 mb-2">
                            <div class="col-md-6 form-password-toggle form-control-validation">
                                <label class="form-label" for="currentPassword">Current Password</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control" type="password" name="currentPassword" id="currentPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                    <span class="input-group-text cursor-pointer"><i class="icon-base ti ti-eye-off icon-xs"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-sm-6 gy-2 mb-sm-0 mb-2">
                            <div class="mb-6 col-md-6 form-password-toggle form-control-validation">
                                <label class="form-label" for="newPassword">New Password</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control" type="password" id="newPassword" name="newPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                    <span class="input-group-text cursor-pointer"><i class="icon-base ti ti-eye-off icon-xs"></i></span>
                                </div>
                            </div>

                            <div class="mb-6 col-md-6 form-password-toggle form-control-validation">
                                <label class="form-label" for="confirmPassword">Confirm New Password</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                    <span class="input-group-text cursor-pointer"><i class="icon-base ti ti-eye-off icon-xs"></i></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-body">Password Requirements:</h6>
                        <ul class="ps-4 mb-0" style="list-style-type:disc!important">
                            <li class="mb-2" style="display:list-item;list-style:inherit">Minimum 8 characters long - the more, the better</li>
                            <li class="mb-2" style="display:list-item;list-style:inherit">At least one lowercase character</li>
                            <li class="mb-2" style="display:list-item;list-style:inherit">At least one number, symbol, or whitespace character</li>
                        </ul>
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary me-3" id="btnSubmit">Save changes</button>
                            <button type="reset" class="btn btn-label-secondary">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--/ Change Password -->

           
        </div>
    </div>
    </div>






    <script type="text/javascript">


    </script>
    <script src="~/Content/assets/vendor/libs/moment/moment.js"></script>
    <script src="~/Content/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/Content/assets/vendor/libs/select2/select2.js"></script>

    <script src="~/Content/assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="~/Content/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="~/Content/assets/vendor/libs/%40form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/Content/assets/vendor/libs/%40form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/Content/assets/vendor/libs/%40form-validation/umd/plugin-auto-focus/index.min.js"></script>



    <script src="~/Content/assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="~/Content/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/js/forms-pickers.js"></script>
  
    <script src="~/Content/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
<script src="~/Scripts/custom/ResetPassword.js"></script>
<script src="~/Content/assets/js/pages-account-settings-security.js"></script>

