
@{
    ViewBag.Title = "SMMESettings_company";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var Enterpriseuser = Session["EnterpriseUserDataModel"] as BODDal.Models.UserModel;
    var user = Session["UserDataModel"] as BODDal.Models.UserModel;
    var SmmeUser = Session["SMMEUserDataModel"] as BODDal.Models.UserModel;
    var EnterpriseEmpuser = Session["EnterpriseEMPUserDataModel"] as BODDal.Models.UserModel;
    var AdminUser = Session["AdminUserDataModel"] as BODDal.Models.UserModel;

    var role = "";

    if (Enterpriseuser != null)
    {
        role = Enterpriseuser.UM_Role;
    }
    else if (EnterpriseEmpuser != null)
    {
        role = EnterpriseEmpuser.UM_Role;
    }
    else if (SmmeUser != null)
    {
        role = SmmeUser.UM_Role;
    }
    else if (AdminUser != null)
    {
        role = AdminUser.UM_Role;
    }
    else
    {
        role = user.UM_Role;
    }
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkwC9JR92Fwi9EQgnQ2ILWaUr88JxchUw&libraries=places"></script>

<link href="~/Content/assets/vendor/libs/sweetalert2/sweetalert2.css" rel="stylesheet" />
<div class="container-xxl flex-grow-1 container-p-y">
    <input type="hidden" id="hdnEnterId" value="@ViewBag.EntrId" />

    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">MSME Settings /</span> MSME
    </h4>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-4">
                <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="ti-xs ti ti-building"></i> MSME Details</a></li>
                @*<li class="nav-item"><a class="nav-link" href="SMMESettings_contact?Id=@ViewBag.Id&M=@ViewBag.M"><i class="ti-xs ti ti-users me-1"></i> Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="SMMESettings_legalentity?Id=@ViewBag.Id&M=@ViewBag.M"><i class="ti-xs ti ti-file-description me-1"></i> Legal Entity</a></li>
                <li class="nav-item"><a class="nav-link" href="SMMESettings_financial?Id=@ViewBag.Id&M=@ViewBag.M"><i class="ti-xs ti ti-file-dollar"></i> Financial</a></li>*@

                @if (ViewBag.Id <= 0 && ViewBag.M == "A")
                {
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)" style="cursor: default;"><i class="ti-xs ti ti-users me-1"></i> Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)" style="cursor: default;"><i class="ti-xs ti ti-file-description me-1"></i> Legal Entity</a></li>
                    @*<li class="nav-item"><a class="nav-link" href="javascript:void(0)" style="cursor: default;"><i class="ti-xs ti ti-file-dollar"></i> Financial</a></li>*@
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" href="SMMESettings_contact?Id=@ViewBag.Id&M=@ViewBag.M"><i class="ti-xs ti ti-users me-1"></i> Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="SMMESettings_legalentity?Id=@ViewBag.Id&M=@ViewBag.M"><i class="ti-xs ti ti-file-description me-1"></i> Legal Entity</a></li>
                    @*<li class="nav-item"><a class="nav-link" href="SMMESettings_financial?Id=@ViewBag.Id&M=@ViewBag.M"><i class="ti-xs ti ti-file-dollar"></i> Financial</a></li>*@
                }
            </ul>
            <div class="card mb-4">
                <h5 class="card-header">MSME Details</h5>
                <input type="hidden" name="" id="hdnuploadComLogo">

                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <div id="dvImageWorkSpaceComLogo">
                            <img alt="user-avatar" class="d-block w-px-150 h-px-50 rounded" id="prfpicIMGWorkSpaceComLogo" />
                        </div>
                        <div id="dvAvatarComLogo"></div>
                        <input type="hidden" name="..." id="hdnWorkSpceUploadComLogo">
                        <div class="button-wrapper">
                            <label for="uploadWorkSpceComLogo" class="btn btn-primary me-2 mb-3" tabindex="0">
                                <span class="d-none d-sm-block">Upload Company Logo</span>
                                <i class="ti ti-upload d-block d-sm-none"></i>
                                <input type="file" id="uploadWorkSpceComLogo" class="account-file-input" data-max-size="300000" hidden accept="image/png, image/jpeg" onchange="ShowPreviewWorkSpaceComLogo(this)" />
                            </label>
                            <button id="btnResetWorkSpceUploadComLogo" type="reset" class="btn btn-label-secondary account-image-reset mb-3">
                                <i class="ti ti-refresh-dot d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Reset</span>
                            </button>

                            <div class="text-muted">Allowed JPG, GIF or PNG. Max size of 300K</div>
                        </div>
                    </div>
                </div>
               
                <hr class="my-0">
                <div class="card-body">
                    <form id="formAccountSettings" method="GET" onsubmit="return false">
                        <div class="row">
                            <div class="col-sm-6 p-3">
                                <div class="form-check">
                                    <input type="hidden" id="txtSMMEEntityType" name="txtSMMEEntityType" />
                                    <input name="default-radio-1" class="form-check-input" type="radio" value="Entity" id="rdoEntityRegistration" checked>
                                    <label class="form-check-label" for="defaultRadio1"> Business Registration </label>
                                </div>
                                </div>
                            <div class="col-sm-6 p-3">
                                <div class="form-check">
                                    <input name="default-radio-1" class="form-check-input" type="radio" value="Soletrader" id="rdoSoletraderRegistration">
                                    <label class="form-check-label" for="defaultRadio1"> Soletrader Registration </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <input type="hidden" id="hdnModeForm" value="company" />
                                <label class="form-label" for="multiStepsFirstName" id="lblCompanyName">MSME Name<span class="text-danger">*</span></label>
                                <input type="text" id="txtCompanyName" name="txtCompanyName" class="form-control" placeholder="MSME Name" />
                                <input type="hidden" id="hdnId" name="hdnId" />
                            </div>
                            <div class="mb-3 col-md-6 divHide">
                                <label class="form-label" for="multiStepsLastName" id="lblRegNo">Registration Number (CIPC)<span class="text-danger">*</span></label>
                                <input type="text" id="txtRegNum" name="txtRegNum" class="form-control"
                                       placeholder="Registration Number" maxlength="14" required />
                                <div id="error" class="text-danger mt-2" style="display:none;"></div>
                                @*<input type="text" id="txtRegNum" name="txtRegNum" class="form-control" placeholder="Enter Registration Number" />*@
                            </div>

                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="ddlSector">Industry Sector<span class="text-danger">*</span></label>
                                <select class="select2 form-select ddlSector" data-allow-clear="true" id="ddlSector" name="ddlSector"></select>
                            </div>

                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsMobile">Business Type<span class="text-danger">*</span></label>
                                <select class="select2 form-select ddlBusinessType" data-allow-clear="true" id="ddlBusinessType" name="ddlBusinessType"></select>
                            </div>
                            
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsMobile">Address<span class="text-danger">*</span></label>
                                <!-- Hidden Autocomplete Input -->
                                <input type="text" id="googleAutoAddress" style="position:absolute; left:-9999px;" />
                                <textarea id="txtBusinessAddress" name="txtBusinessAddress" class="form-control" placeholder="Enter Business Address"></textarea>
                            </div>
                            <input type="hidden" id="txtAddress2"/>
                            @*<div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsMobile">Address 2</label>
                                <textarea id="txtAddress2" name="txtAddress2" class="form-control" placeholder="Enter Business Address2"></textarea>
                            </div>*@
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsLastName">Suburb<span class="text-danger">*</span></label>
                                <input type="text" id="txtSuburb" name="txtSuburb" class="form-control" placeholder="Enter Suburb" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsLastName">City/Town<span class="text-danger">*</span></label>
                                <input type="text" id="txtCity" name="txtCity" class="form-control" placeholder="City/Town" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="ddlCountry">Country<span class="text-danger">*</span></label>
                                <select class="select2 form-select ddlCountry" data-allow-clear="true" id="ddlCountry" name="ddlCountry"></select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsMobile">Province/State<span class="text-danger">*</span></label>
                                <select class="select2 form-select ddlProvince" data-allow-clear="true" id="ddlProvince" name="ddlProvince"></select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsLastName">Postal Code<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="txtPostalCode" name="txtPostalCode" placeholder="Postal Code" maxlength="4" oninput="formatPostalCode(this)" />
                                @*<input type="text" id="txtPostalCode" name="txtPostalCode" class="form-control" placeholder="Enter Postal Code" />*@
                            </div>                          
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="ddlBEELevel">BEE Level<span class="text-danger">*</span></label>
                                <select class="select2 form-select ddlBEELevel" data-allow-clear="true" id="ddlBEELevel" name="ddlBEELevel"></select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsMobile">Type<span class="text-danger">*</span></label>
                                <select class="select2 form-select ddlProtfolioGrowth" data-allow-clear="true" id="ddlProtfolioGrowth" name="ddlProtfolioGrowth"></select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="multiStepsLastName">Black Women(%)<span class="text-danger">*</span></label>
                                <input type="number" id="txtBlckWomen" name="txtBlckWomen" class="form-control" onkeypress="return isNumberKey(event)" placeholder="Enter Black Women" maxlength="100" min="0"/>
                            </div>
                        </div>
                        <div class="mt-2">
                            @*<button type="submit" class="btn btn-primary me-2" id="btnUpdate">Save changes</button>*@
                            <button type="submit" class="btn btn-info me-2" id="btnUpdateNext">Save & Next</button>
                            <a id="btnCancelRedirect" class="btn btn-label-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Content/assets/vendor/libs/select2/select2.js"></script>

<script src="~/Content/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>


<script src="~/Scripts/utility/PhoneNumberFormet.js"></script>
@*<script src="~/Content/assets/js/pages-account-settings-account.js"></script>*@
<script src="~/Content/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
<script src="~/Scripts/utility/dropdown.js"></script>
<script src="~/Scripts/custom/SMMESettings.js"></script>

<script>
    function initializeGoogleAutocomplete() {
        const input = document.getElementById('txtBusinessAddress');
        const autocomplete = new google.maps.places.Autocomplete(input);

        autocomplete.addListener('place_changed', function () {
            const place = autocomplete.getPlace();
            if (!place.address_components) return;

            let suburb = '', city = '', province = '', country = '', postalCode = '';

            place.address_components.forEach(component => {
                const types = component.types;

                if (types.includes('sublocality') || types.includes('sublocality_level_1')) suburb = component.long_name;
                if (types.includes('locality')) city = component.long_name;
                if (types.includes('administrative_area_level_1')) province = component.long_name;
                if (types.includes('country')) country = component.long_name;
                if (types.includes('postal_code')) postalCode = component.long_name;
            });

            $('#txtSuburb').val(suburb);
            $('#txtCity').val(city);
            $('#txtPostalCode').val(postalCode);

            //$('#txtCityTown').val(city).prop('disabled', true);
            $('#ddlCountry').val(country).prop('disabled', true);
            $('#txtSuburb').val(suburb).prop('disabled', true);
            $('#txtCity').val(city).prop('disabled', true);
            $('#txtPostalCode').val(postalCode).prop('disabled', true);

            // Auto-select country
            const matchedCountry = $('#ddlCountry option').filter(function () {
                return $(this).text().trim().toLowerCase() === country.toLowerCase();
            });

            if (matchedCountry.length > 0) {
                const countryId = matchedCountry.val();
                $('#ddlCountry').val(countryId).trigger('change');

                // Delay to wait for province options to load
                setTimeout(() => {
                    const matchedProvince = $('#ddlProvince option').filter(function () {
                        return $(this).text().trim().toLowerCase() === province.toLowerCase();
                    });

                    if (matchedProvince.length > 0) {
                        $('#ddlProvince').val(matchedProvince.val()).trigger('change');
                        $('#ddlProvince').val(matchedProvince.val()).prop('disabled', true);
                    }
                }, 800);
            }
        });
    }

    google.maps.event.addDomListener(window, 'load', initializeGoogleAutocomplete);
</script>